body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(213, 213, 110);
  /*TODO: {background-image: url("c:\Users\Shawn\Downloads\bruin_bear_img.svg");}*/
}

.transition-button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.transition-button.transitioned {
  background-color: #2980b9;
  color: #ffffff;
  transform: scale(1.1);
}

h1 {
  color:rgb(6, 112, 188); 
  font-size: 70px;
  text-align: center;
}

h2 {
  color: rgb(6, 112, 188);
  margin: 10px; 
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login_button { 
  color:black; 
  font-size: 15px;
  position: absolute;  
  transform: translate(1210%, 50%);
}

.create_acc {
  color:black; 
  font-size: 16px;
  position: absolute;  
  -ms-transform: translate(-10%, -100%);
  transform: translate(520%, 200%);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
